<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.darwish.prayertimes">
    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".Application"
            android:allowBackup="false"
            android:icon="@mipmap/ic_prayertimes_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_prayertimes_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/MainTheme">
        <activity
                android:name=".splashscreen.SplashScreenActivity"
                android:screenOrientation="portrait"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".praytimes.PrayTimesActivity"
                android:screenOrientation="portrait"
                android:theme="@style/MainTheme" />
        <activity
                android:name=".cities.CitiesActivity"
                android:screenOrientation="portrait"
                android:theme="@style/MainTheme" />

    </application>

</manifest>